.title {
  font-size: 500%;
  user-select: none;

  span {
    opacity: 90%;
    background-clip: text;
    background-image: linear-gradient(45deg, #e93838, #9b136e);
    -webkit-text-fill-color: transparent;
  }
}

.container {
  padding: 1.5rem 4rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  background-color: var(--primary);

  hr {
    width: 105%;
    height: 1px;
    background-color: var(--white);
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .params {
    display: flex;
    align-items: center;
    gap: 1rem;

    select {
      padding: 5px 0.5rem;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  input {
    width: 100%;
  }
}

.wordInfo {
  opacity: 70%;
  display: flex;
  gap: 1.5rem;
}
