$gradient: linear-gradient(45deg, #e93838, #9b136e);

.title {
  font-size: 500%;
  user-select: none;

  span {
    opacity: 90%;
    background-clip: text;
    background-image: $gradient;
    -webkit-text-fill-color: transparent;
  }
}

.container {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.board {
  width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  overflow: hidden;
  background-color: var(--background);
  border-radius: 0.6rem;

  input {
    padding: 0.8rem 1rem;
  }
}

.controls {
  position: relative;
  padding: 0.8rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  background: $gradient;
  border-bottom: 1px solid var(--black);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    opacity: 95%;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    backdrop-filter: blur(30px);
  }

  p {
    z-index: 1;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      opacity: 80%;
      border: none;
      padding: 5px;
      background-color: transparent;
    }
  }
}

.content {
  padding: 0.25rem 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  hr {
    margin-top: 0.5rem;
    height: 1px;
    width: 100%;
    background-color: var(--white);
  }
}

// custom content classes
.params {
  display: flex;
  gap: 1rem;

  select {
    min-width: 3rem;
    padding: 5px 0.5rem;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.inputs {
  // same as quizy/scss
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  p {
    margin-bottom: 0.25rem;
  }

  input {
    width: 100%;
    padding: 0.8rem 1rem;
  }
}

.phraseStats {
  opacity: 75%;
  display: flex;
  gap: 1.5rem;
}
