.board {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  background: radial-gradient(at bottom right, #081845, #390075);
  box-shadow: 0 0 10vw rgba(#000000, 0.5) inset;
  overflow: hidden;
  user-select: none;
}

.layout {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.credits {
  opacity: 25%;
  position: absolute;
  bottom: min(1vw, 3vh);
  width: 100%;
  font-size: 1vw;
  text-align: center;
  cursor: default;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appearing 1s ease-in;

  @keyframes appearing {
    0%,
    20% {
      opacity: 0;
    }
    50% {
      opacity: 40%;
    }
    100% {
      opacity: 100%;
    }
  }

  .spinner {
    width: 6vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top: 0.25vw solid #ffffff;
    border-right: 0.25vw solid transparent;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.game {
  padding: 5vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 1vw rgba(#000000, 0.2);

  button {
    background-color: rgba(#ffffff, 0.1);
    transition: filter 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      transform: translateY(-0.15vw);
      filter: contrast(0.8);
    }
  }
}

.navigation {
  position: absolute;
  bottom: min(2vw, 6vh);
  padding: 0 min(2vw, 6vh);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;

  button {
    opacity: 35%;
    padding: 0.8vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    pointer-events: all;
    transition: opacity 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      opacity: 60%;
      transform: translateY(-0.1vw);
    }

    &:disabled {
      opacity: 35%;
      transform: none;
      cursor: not-allowed;
    }

    img {
      width: 2vw;
      height: auto;
    }
  }
}

// start & end screen components

.simpleLayout {
  padding-bottom: min(2vw, 6vh);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;

  h1 {
    font-size: 6vw;
    font-weight: bold;
  }

  button {
    padding: 1.5vw 4vw;
    font-size: 2vw;
    border-radius: 1vw;
    background-color: rgba(#ffffff, 0.15);
    transition: filter 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      transform: translateY(-0.15vw);
      filter: contrast(0.8);
    }
  }
}

// game board component

.question {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-weight: bold;
}

.answersGrid {
  $grid-gap: 0.5vw;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $grid-gap;

  button {
    padding: 2vw;
    flex: 0 0 calc(50% - $grid-gap);
    min-height: 12vw;
    font-size: 105%;
    border-radius: 0.5vw;
    transition: background-color 150ms ease-out, filter 150ms ease-out,
      transform 150ms ease-in-out;

    &.correct {
      opacity: 100%;
      background-color: #348734;
    }
    &.selected {
      background-color: #9f3737;
    }

    &:disabled {
      transform: none;
      filter: none;
      cursor: default;
    }
  }
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-weight: bold;

  .hidden {
    $color: #8bf2ce;

    position: relative;
    color: transparent;
    font-weight: normal;
    border-bottom: $color 0.3vw solid;
    transition: color 150ms ease-out;

    &.reveal {
      color: $color;
    }
  }
}

.controls {
  display: flex;
  gap: 1vw;

  button {
    padding: 1.2vw 3vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    border-radius: 50vw;
    font-size: 65%;

    &:disabled {
      opacity: 35%;
      transform: none;
      filter: none;
      cursor: default;
    }

    img {
      position: relative;
      bottom: 0.05vw;
      width: 1.5vw;
      height: auto;
    }
  }
}

.openQuestion {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openAnswer {
  margin: min(2vw, 6vh) 0;
  font-size: 80%;
  font-weight: normal;
}
