.board {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: auto;
  background-color: #000000;
  user-select: none;
  letter-spacing: 0.05vw;
}

.layout {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.credits {
  z-index: 1;
  opacity: 45%;
  position: absolute;
  bottom: 1.2vw;
  width: 100%;
  font-size: 1vw;
  text-align: center;
  cursor: default;
}

// background looped animation

.animatedBoard {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #010b2c;

  .boardContainer {
    z-index: -1;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .animation {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

// start screen layout

.introComponent {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .videoOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      transition: filter 150ms ease-out;

      &:hover {
        filter: contrast(0.8);
      }
    }

    $background: rgba(#2a2a2a, 0.7);

    .playButton {
      padding: 2.5vw;
      width: 10vw;
      aspect-ratio: 1/1;
      background: $background;
      border-radius: 100%;

      img {
        position: relative;
        left: 0.5vw;
        width: 100%;
        height: auto;
      }
    }

    .skipButton {
      position: absolute;
      bottom: 8vw;
      right: 0;
      font-size: 1.5vw;

      button {
        padding: 1.2vw 3.5vw 1.2vw 4vw;
        background: $background;
        border-radius: 1vw 0 0 1vw;
      }
    }
  }

  video {
    width: 100%;
  }
}

.logo {
  opacity: 90%;
  width: 45vw;
  height: auto;
}

// category select

.categorySelect {
  position: absolute;
  top: 17vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5vw;

  button {
    padding: 0.8vw 4.5vw;
    position: relative;
    top: 0;
    width: 56vw;
    text-align: center;
    font-weight: bold;
    background-color: #cdd0e2;
    border-radius: 1.5vw;
    transition: transform 200ms ease-in-out, top 300ms ease-in;

    p {
      color: #060512;
      font-size: 5vw;
      text-transform: uppercase;
      transform: scale(1, 0.9);
      text-shadow: #f6f7fc 0 0 3vw;
      pointer-events: none;
    }
  }
}

// main game layout

.answer {
  position: absolute;
  display: flex;
  justify-content: center;

  &:nth-child(1) {
    top: 11.5vw;
    right: 5.45vw;
    transform: rotate(20deg);
  }
  &:nth-child(2) {
    top: 5.4vw;
    right: 29.85vw;
    transform: rotate(6deg);
  }
  &:nth-child(3) {
    top: 5.4vw;
    left: 29.95vw;
    transform: rotate(-6deg);
  }
  &:nth-child(4) {
    top: 11.5vw;
    left: 5.55vw;
    transform: rotate(-20deg);
  }

  .screen {
    padding: 0.3vw;
    position: relative;
    width: 15vw;

    .text {
      height: 6.55vw;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      h2 {
        color: #fcfafe;
        font-size: 2.8vw;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.2vw;
      }
    }

    .amount {
      width: 100%;
      text-align: center;

      p {
        color: #090e0d;
        font-weight: bold;
        font-size: 1.7vw;
      }
    }
  }

  .trap {
    position: absolute;
    top: 13vw;
    width: 14vw;
    height: 8.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .packagesControls {
    position: absolute;
    top: 24.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    button {
      width: 3vw;
      aspect-ratio: 1/1;
      font-size: 2vw;
      font-weight: bold;
      background-color: #525252;
      border-radius: 0.2vw;
      transition: transform 200ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.packagesLeft {
  position: absolute;
  top: 36vw;
  width: 100%;
  text-align: center;
  pointer-events: none;

  p {
    color: #f8fcff;
    font-size: 2.5vw;
    text-shadow: #1b1b1b 0.06vw 0.1vw;
  }
}

.questionBoard {
  padding: 0 8vw;
  position: absolute;
  bottom: 4.5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question {
  padding: 0 1vw;
  width: 65.5vw;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #f8fcff;
    font-size: 2.3vw;
    text-align: center;
    text-shadow: #1b1b1b 0.06vw 0.1vw;
  }
}

.timer {
  padding: 0 1vw;
  position: relative;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.4vw;

  h3 {
    color: #020001;
    text-shadow: #020001 0 0 0.15vw, #ffffff 0 0 0.25vw;
  }

  .additionalTime {
    position: absolute;
    top: -3vw;
    right: -2vw;
    width: 4vw;
    aspect-ratio: 1/1;
    color: #f8fcff;
    font-size: 1vw;
    font-weight: bold;
    background-color: #525252;
    border-radius: 0.2vw;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:disabled {
      filter: brightness(0.7) contrast(1.05);
      cursor: not-allowed;
    }
  }
}

.fullscreenImages {
  z-index: -1;
  position: relative;
  background-color: #010b2c;

  &,
  .questionImage,
  .answersImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .questionImage {
    z-index: 2;
    background-image: url("/pnm/images/trap-question.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .answersImage {
    z-index: 1;
    background-image: url("/pnm/images/trap-answers.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .animatedBackground {
    z-index: 1;
    position: absolute;
    top: -1vw;
    left: -1vw;
    bottom: -1vw;
    right: -1vw;
    width: 17vw;
  }
}
