// BOARD LAYOUT

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: auto;
  background-color: #000000;
  user-select: none;
  letter-spacing: 0.05vw;
}

.container {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.credits {
  opacity: 45%;
  position: absolute;
  bottom: min(1vw, 3vh);
  width: 100%;
  font-size: 1vw;
  text-align: center;
}

// START BOARD

.introComponent {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;

  .videoOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      transition: filter 150ms ease-out;

      &:hover {
        filter: contrast(0.8);
      }
    }

    $background: rgba(#2a2a2a, 0.7);

    .playButton {
      padding: 2.5vw;
      width: 10vw;
      aspect-ratio: 1/1;
      background: $background;
      border-radius: 100%;

      img {
        position: relative;
        left: 0.5vw;
        width: 100%;
        height: auto;
      }
    }

    .skipButton {
      position: absolute;
      bottom: 8vw;
      right: 0;
      font-size: 1.5vw;

      button {
        padding: 1.2vw 3.5vw 1.2vw 4vw;
        background: $background;
        border-radius: 1vw 0 0 1vw;
      }
    }
  }

  video {
    width: 100%;
  }
}

.startLayout {
  width: 100%;
  height: 100%;
  background-image: url("/pnm/images/background.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

// ID BOARD

.categorySelect {
  aspect-ratio: 16/9;
  background-image: url("/pnm/images/board.webp");
  background-size: contain;
  background-repeat: no-repeat;

  .selectButtons {
    position: absolute;
    top: 17vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5vw;

    button {
      padding: 0.8vw 4.5vw;
      position: relative;
      top: 0;
      width: 56vw;
      text-align: center;
      font-weight: bold;
      background-color: #cdd0e2;
      border-radius: 1.5vw;
      transition: all 200ms ease, filter 150ms ease-out,
        transform 150ms ease-in-out, top 300ms ease-in, bottom 150ms ease-in-out;

      p {
        color: #060512;
        font-size: 5vw;
        text-transform: uppercase;
        transform: scale(1, 0.9);
        text-shadow: #f6f7fc 0 0 3vw;
        pointer-events: none;
      }
    }
  }
}

.boxes {
  display: flex;
  font-size: 3vw;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .answer {
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(1, 0.9);
  }
}

.packages {
  font-size: 2.2vw;
}

.info {
  display: flex;
  font-size: 2.5vw;
}
