:root {
  color-scheme: dark;
}

html,
body {
  color: #f2f2f2;
  background-color: #0a0b0d;
  -webkit-tap-highlight-color: transparent;
  font-family: "comic sans ms", sans-serif !important;
}

main {
  padding: 3rem 5%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

input,
button {
  all: revert;
}
