:root {
  color-scheme: dark;
}

html,
body {
  color: #f2f2f2;
  background-color: #0a0b0d;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

main {
  padding: 2rem 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input,
button {
  border: 1px solid #ffffff;
  background-color: #303030;
  transition: 0.1s filter ease-out;

  &:hover {
    filter: contrast(0.8);
  }
}

input:focus {
  filter: contrast(0.7);
}

button {
  padding: 0.65rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
