// global styles
:root {
  color-scheme: dark;

  --white: #f2f2f2;
  --black: #0a0b0d;
  --yellow: #d9c465;

  --primary: #303030;
  --secondary: #242424;
  --background: #121212;

  --white-border: 0.5px solid #4e4e4e;
}

// tab focus border
*:focus-visible {
  box-shadow: 0 0 1px 2px var(--white);
}

::placeholder {
  opacity: 35%;
  font-weight: normal;
  user-select: none;
}

// default reset
html,
body {
  color: var(--white);
  background-color: var(--black);
  -webkit-tap-highlight-color: transparent;
}

section {
  display: flex;
  justify-content: center;
}

$custom-width: min(100%, 1440px);
$header-height: 3.5rem;
$header-padding: 0.5rem;

main {
  $header-height: $header-height + 2 * $header-padding;

  position: relative;
  padding: 2rem min(3%, 3rem) 6rem;
  min-height: calc(100svh - $header-height);
  width: $custom-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileView {
  display: none;

  @media (max-width: 768px) {
    padding: 3rem 5%;
    min-height: calc(100svh - $header-height);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: min(1.5rem, 4vw);
  }
}

header,
footer {
  display: flex;
  justify-content: center;
  background-color: var(--background);

  section {
    width: $custom-width;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 768px) {
    font-size: min(1.1rem, 3.5vw);
  }
}

$section-padding: 0.85rem;

header {
  padding: $header-padding calc(3% - $section-padding);

  @media (max-width: 768px) {
    padding: min(1.5rem, 4vw) 2vw;
  }

  a {
    opacity: 85%;
    position: relative;
    bottom: 0;
    padding: 0 $section-padding;
    height: $header-height;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    transition: 150ms ease-in-out;

    &:hover {
      opacity: 100%;
      bottom: 1.5px;
    }

    @media (max-width: 768px) {
      padding: 0 min($section-padding, 3vw);
      height: 2rem;
    }
  }

  .headerTitle {
    display: flex;
    font-weight: bold;

    p {
      font-size: 135%;
    }
  }

  div {
    display: flex;
    align-items: center;
  }
}

footer {
  padding: min(1.5rem, 4vw);

  section {
    padding: 0 $section-padding;

    @media (max-width: 768px) {
      padding: 0 3vw;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 90%;
      text-align: center;
    }
  }

  p {
    opacity: 80%;
    font-size: 90%;
  }

  a:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  font-size: 150%;
  font-weight: bold;
}

input,
button,
.button,
select {
  box-shadow: none !important;
  border: var(--white-border);
  background-color: var(--primary);
  transition: 100ms filter ease-out;

  &:hover {
    filter: contrast(0.8);
  }
}

input {
  padding: 0.5rem 1rem;

  &:focus {
    filter: contrast(0.7);
  }
}

button,
.button {
  position: relative;
  bottom: 0;
  padding: 0.65rem 2.5rem;
  border-radius: 0.4rem;
  transition: 100ms filter ease-out, 150ms bottom ease-in-out;
  cursor: pointer;

  &:hover {
    bottom: 2px;
  }
}

select {
  border-radius: 0.4rem;
  background-color: var(--secondary);
  cursor: pointer;

  &:hover {
    filter: contrast(0.9);
  }
}

// loading reveal animation on start
.loading {
  animation: loading 1s ease-out;

  @keyframes loading {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}

// icon styling
.icon {
  filter: invert(1);
  user-select: none;
}

// disabled from interaction
.disabled {
  opacity: 35% !important;
  user-select: none !important;
  pointer-events: none !important;
}
