.board {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: auto;
  background-color: #000000;
  user-select: none;
}

.layout {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.credits {
  opacity: 40%;
  position: absolute;
  bottom: 1.2vw;
  width: 100%;
  font-size: 1vw;
  text-align: center;
  cursor: default;
}

// start screen layout

.introComponent {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .videoOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      transition: filter 150ms ease-out;

      &:hover {
        filter: contrast(0.8);
      }
    }

    $background: rgba(#2a2a2a, 0.7);

    .playButton {
      padding: 2.5vw;
      width: 10vw;
      aspect-ratio: 1/1;
      background: $background;
      border-radius: 100%;

      img {
        position: relative;
        left: 0.5vw;
        width: 100%;
        height: auto;
      }
    }

    .skipButton {
      position: absolute;
      bottom: 8vw;
      right: 0;
      font-size: 1.5vw;

      button {
        padding: 1.2vw 3.5vw 1.2vw 4vw;
        background: $background;
        border-radius: 1vw 0 0 1vw;
      }
    }
  }

  video {
    width: 100%;
  }
}

.game {
  width: 100%;
  height: 100%;
  // background-image: "";
  background-size: contain;
  background-repeat: no-repeat;
}

// game board layout

$yellow: #d4c26e;

.totalPoints {
  opacity: 75%;
  position: absolute;
  top: 1.05vw;
  left: 0vw;
  width: 100%;
  display: flex;
  justify-content: center;
  color: $yellow;
  font-size: 8.7vw;
  filter: contrast(1.5) saturate(0.9);

  div {
    width: 19vw;
    display: flex;
    justify-content: flex-end;
    gap: 1.2vw;

    p {
      width: 5.5vw;
      display: flex;
      align-items: center;
    }
  }
}

.data {
  $cell-width: 1.86vw;
  $cell-space: 0.57vw;
  $top-space: 3.65vw;
  $save-space: $cell-width + $cell-space;

  position: relative;
  top: 17.41vw;
  left: 13.85vw;
  height: 35.35vw;
  display: flex;
  gap: calc($cell-width + 2 * $cell-space);
  color: $yellow;

  div {
    display: flex;
    gap: $cell-space;
  }

  .mistakes {
    width: calc(3 * $save-space - $cell-space);
    flex-direction: column-reverse;
    gap: 1.05vw;

    img {
      width: 100%;
      height: auto;

      &.big {
        margin-bottom: calc(2 * $top-space);
      }
    }
  }

  .main {
    padding-top: $top-space;
    display: flex;
    flex-direction: column;
    gap: 1.21vw;
    font-size: 2.8vw;

    &.doublePadding {
      padding-top: calc(2 * $top-space);
    }

    p {
      width: $cell-width;
      display: flex;
      align-items: center;
    }

    .answer,
    .dots {
      margin-left: $save-space;
      width: calc(16 * ($save-space) - $cell-space);
    }

    .answer {
      width: 100%;

      p {
        justify-content: flex-start;
      }
    }

    .dots {
      position: relative;
      align-items: flex-end;
      font-size: 50%;
      letter-spacing: 0;

      p {
        justify-content: center;
      }
    }

    .pointsAmount {
      padding-top: $top-space;
      padding-left: calc(14 * ($save-space));
      display: flex;
      gap: calc($cell-width + 2 * $cell-space);
    }
  }
}
