// LAYOUT

.container {
  position: relative;
  padding: 10vh 6vw 5vh;
  width: 100svw;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;

  font-size: 2vw;
  background: linear-gradient(124deg, #073f7e, #2c0847);
  box-shadow: 0 0 10vw rgba(#000000, 0.75) inset;
  overflow-x: hidden;
  user-select: none;

  button {
    font-size: 110%;
    text-align: center;

    border: none;
    background-color: rgba(#ffffff, 0.1);
    border-radius: 0.4vw;
  }
}

.credits {
  position: absolute;
  bottom: 3vh;

  opacity: 25%;
  width: 100%;
  font-size: 1.1vw;
  text-align: center;
  user-select: none;
}

// SPECIAL CASES

.center {
  position: relative;
  bottom: 5vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 4vh 10vw;
  }
}

// PAGE

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    position: relative;
    bottom: 5vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;

    span {
      color: #8bf2ce;
      font-size: 90%;
    }
  }

  button {
    padding: 5vh 12vw;
  }
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    padding: 1vw;
    background-color: transparent;
  }

  img {
    width: 3vw;
  }
}

.bottomButtons {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1vw;

  button {
    font-size: 80%;
    padding: 1vw 3vw;
    border-radius: 50vw;
  }
}

// type: "closed"
.closedAnswers {
  $grid-gap: 0.5vw;

  width: 100%;
  padding: 0 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: $grid-gap;

  button {
    padding: 7vh 2vw;
    flex: 0 0 calc(50% - $grid-gap);

    &.correct {
      background-color: #2c950f;
    }
    &.selected {
      background-color: #a23535;
    }
  }
}

// type: "gap"
.gapHints {
  position: relative;

  p {
    position: absolute;
    bottom: 1vh;
    left: 0.25vw;
    width: 100%;
    font-weight: normal;
    text-align: start;
  }
}

// type: "open"
.openAnswer {
  position: absolute;
  top: 65%;
  font-size: 110%;
  width: 100%;
  text-align: center;
}
