.board {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  background: radial-gradient(at bottom right, #2e0117, #000000);
  overflow: hidden;
  user-select: none;
}

.layout {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.credits {
  opacity: 25%;
  position: absolute;
  bottom: min(1vw, 3vh);
  width: 100%;
  font-size: 1vw;
  text-align: center;
  cursor: default;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appearing 1s ease-in;

  @keyframes appearing {
    0%,
    20% {
      opacity: 0;
    }
    50% {
      opacity: 40%;
    }
    100% {
      opacity: 100%;
    }
  }

  .spinner {
    width: 6vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-top: 0.25vw solid #ffffff;
    border-right: 0.25vw solid transparent;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.game {
  padding: 5vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 1vw rgba(#000000, 0.2);

  button {
    background-color: rgba(#ffffff, 0.1);
    transition: filter 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      transform: translateY(-0.15vw);
      filter: contrast(0.8);
    }
  }
}

.navigation {
  position: absolute;
  bottom: min(2vw, 6vh);
  padding: 0 min(2vw, 6vh);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;

  button {
    opacity: 35%;
    padding: 0.8vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    pointer-events: all;
    transition: opacity 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      opacity: 60%;
      transform: translateY(-0.1vw);
    }

    &:disabled {
      opacity: 35%;
      transform: none;
      cursor: not-allowed;
    }

    img {
      width: 2vw;
      height: auto;
    }
  }
}

// start & end screen components

.simpleLayout {
  padding-bottom: min(2vw, 6vh);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;

  h1 {
    font-size: 6vw;
    font-weight: bold;
  }

  button {
    padding: 1.5vw 4vw;
    font-size: 2vw;
    border-radius: 1vw;
    background-color: rgba(#ffffff, 0.15);
    transition: filter 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      transform: translateY(-0.15vw);
      filter: contrast(0.8);
    }
  }
}

// game board component

.hiddenInput {
  opacity: 0;
  position: fixed;
  top: 0;
  pointer-events: none;
}

.gameInfo {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 90%;

  span {
    font-size: 110%;
    font-weight: bold;
  }
}

.phraseContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .phrase {
    position: absolute;
    left: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;

    div {
      display: flex;
      gap: 0.5vw;

      p {
        padding-bottom: 0.2vw;
        height: 3.5vw;
        display: flex;
        justify-content: center;
        font-size: 150%;

        &.letter {
          width: 2.4vw;
          border-bottom: 0.1vw solid #ffffff;
        }
      }
    }
  }
}

.gameProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vw;

  .mistakes {
    opacity: 80%;
    font-size: 90%;
  }

  .letters {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;

    button {
      padding: 1vw 0;
      width: 4vw;
      font-size: 110%;
      border-radius: 0.5vw;

      &:hover {
        transform: translateY(-0.1vw);
      }

      &:disabled {
        opacity: 30%;
        transform: none;
        filter: none;
        cursor: not-allowed;
      }

      &.vowel {
        background-color: rgba(#ffffff, 0.18);
      }
    }
  }
}

.backgroundImage {
  opacity: 15%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  img {
    position: relative;
    top: 6vw;
    left: 35vw;
    width: 48vw;
    height: auto;
  }
}
