// Board layout

.container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: auto;

  background-color: #000000;
  overflow-x: hidden;
  user-select: none;
  letter-spacing: 0.05vw;
}

.board {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;

  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.credits {
  opacity: 45%;
  position: absolute;
  bottom: min(1vw, 3vh);

  width: 100%;
  font-size: 1vw;
  text-align: center;
}

// Game elements

.introVideo {
  z-index: 1;
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: #000000;

  button {
    transition: all 0s, filter 200ms;
  }

  .controls {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;

    .playButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      padding: 1vw;
      width: 12vw;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;

      img {
        width: 100%;
        height: auto;
      }
    }

    .skipButton {
      position: absolute;
      bottom: 8vw;
      right: 0;
      font-size: 1.5vw;

      button {
        position: static;
        padding: 1vw 2.8vw 1vw 3.2vw;
        background: rgba(#000000, 0.65);
        border-radius: 1vw 0 0 1vw;
      }
    }
  }

  video {
    width: 100%;
  }
}

.startLayout {
  aspect-ratio: 16/9;
  background-image: url("/pnm/images/background.webp");
  background-size: contain;
  background-repeat: no-repeat;

  button {
    position: absolute;
    bottom: 13vw;
    left: 16vw;

    padding: 2.5vw 8vw;
    font-size: 3vw;
    text-transform: uppercase;
    background-color: rgba(#1a1c49, 0.8);
    border-radius: 1.5vw;
    backdrop-filter: blur(0.8vw);
    transition: all 0s, filter 200ms;
    cursor: pointer;
  }

  .background {
    width: 100%;
    height: 100%;
  }
}

.categorySelect {
  aspect-ratio: 16/9;
  background-image: url("/pnm/images/board.webp");
  background-size: contain;
  background-repeat: no-repeat;

  .selectButtons {
    position: absolute;
    top: 17vw;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5vw;

    button {
      position: relative;
      top: 0;
      padding: 0.8vw 4.5vw;
      width: 56vw;
      text-align: center;
      font-weight: bold;
      background-color: #cdd0e2;
      border-radius: 1.5vw;
      transition: all 0s, filter 200ms, bottom 150ms ease-in-out,
        transform 250ms ease-in, top 300ms ease-in;

      p {
        color: #060512;
        font-size: 5vw;
        text-transform: uppercase;
        transform: scale(1, 0.9);
        text-shadow: #f6f7fc 0 0 3vw;
        pointer-events: none;
      }
    }
  }
}

.boxes {
  display: flex;
  font-size: 3vw;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .answer {
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(1, 0.9);
  }
}

.packages {
  font-size: 2.2vw;
}

.info {
  display: flex;
  font-size: 2.5vw;
}
