.container {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  user-select: none;

  background-image: url("/images/background.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.summary {
  position: absolute;
  top: 1.05vw;
  left: 0vw;

  width: 100%;
  display: flex;
  justify-content: center;

  opacity: 75%;
  font-size: 8.7vw;
  color: var(--yellow);
  filter: contrast(1.5) saturate(0.9);

  div {
    width: 19vw;
    display: flex;
    justify-content: flex-end;
    gap: 1.2vw;

    p {
      width: 5.5vw;
      display: flex;
      align-items: center;
      // background-color: var(--dark-blue);
    }
  }
}

.data {
  $cell-width: 1.86vw;
  $cell-space: 0.57vw;
  $top-space: 3.65vw;
  $save-space: $cell-width + $cell-space;

  position: relative;
  top: 17.41vw;
  left: 13.85vw;

  height: 35.35vw;
  display: flex;
  gap: calc($cell-width + 2 * $cell-space);

  color: var(--yellow);
  text-transform: uppercase;

  div {
    display: flex;
    gap: $cell-space;
  }

  .mistakes {
    width: calc(3 * $save-space - $cell-space);
    flex-direction: column-reverse;
    gap: 1.05vw;

    img {
      width: 100%;
      height: auto;

      &.big {
        margin-bottom: calc(2 * $top-space);
      }
    }
  }

  .main {
    padding-top: $top-space;
    display: flex;
    flex-direction: column;
    gap: 1.21vw;
    font-size: 2.8vw;

    .answer,
    .dots {
      margin-left: $save-space;
      width: calc(16 * ($save-space) - $cell-space);
    }

    p {
      width: $cell-width;
      display: flex;
      align-items: center;
      // background-color: #13469d;
    }

    .answer {
      width: 100%;

      p {
        justify-content: flex-start;
      }
    }

    .dots {
      position: relative;
      align-items: flex-end;
      font-size: 50%;
      letter-spacing: 0;

      p {
        justify-content: center;
      }
    }

    .pointsAmount {
      padding-top: $top-space;
      padding-left: calc(14 * ($save-space));

      display: flex;
      gap: calc($cell-width + 2 * $cell-space);
    }
  }
}
