.data {
  margin-top: 10rem;
  scale: 2;

  $cell-width: 18.55px;
  $cell-correction: 2.65px;
  $letter-spacing: 1.65px;

  width: 550px;
  display: flex;
  flex-direction: column;

  padding-top: calc(1 * 27.8px);
  padding-left: calc(4 * $cell-width);
  padding-right: calc(4 * $cell-width - 2 * $cell-correction);
  gap: 8.15px;

  font-size: 140%;
  letter-spacing: $letter-spacing;

  color: #d9c465;
  text-transform: uppercase;

  div {
    display: flex;
    gap: $cell-width;
  }

  // fix "1" on board
  div:first-of-type p:first-of-type {
    margin-left: 2.65px;
  }

  .answer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .dots {
    letter-spacing: 0;
    font-size: 50%;
    align-items: flex-end;
    gap: $letter-spacing;
    text-align: start;
  }

  .points {
    padding-left: 0.5rem;
  }
}
