.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  h1 {
    text-transform: uppercase;
  }

  p {
    opacity: 90%;
  }
}

.prompt {
  margin: 1rem 0 2rem;
  display: flex;
  justify-content: center;
  gap: 5px;

  a {
    opacity: 90%;
    border-radius: 3px;
    transition: filter 150ms ease-out;

    &:hover {
      filter: contrast(0.8);
    }
  }
}

.formContainer {
  margin-top: 1rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 14px;

  form {
    width: 100%;
    gap: 14px;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      margin: 3px 3px -3px;
      font-size: 110%;
      font-weight: bold;
    }

    input {
      padding: 14px 21px;
      width: 100%;
      border-radius: 30px;
    }

    span {
      margin-top: -2px;
      opacity: 80%;
      font-size: 90%;
    }
  }

  .forgotPassword {
    margin-top: -2px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 5px;
      background: none;
      font-size: 90%;
      transform: none;
    }
  }

  .submitButton {
    margin-top: 1.5rem;
    width: 16rem;
  }
}

.providers {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 12px;

  button {
    opacity: 90%;
    padding: 8px;
    background: none;
  }
}

.passwordInput {
  position: relative;
  width: 100%;
  display: flex;

  .eyeIcon {
    padding: 5px;
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background: none;
    transform: none;

    img {
      opacity: 65%;
    }
  }
}
