.savedGamePrompt {
  margin: max(-2rem, -2%) 0 min(2rem, 2%);
  width: 100%;
}

.promptContainer {
  padding: 0.5rem calc(min(3rem, 3%));
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-radius: 6px;

  div {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 65%;
    transition: 200ms opacity ease-in-out;
    font-size: 90%;

    input {
      min-width: 18rem;
    }

    button {
      padding: 5px;
      width: auto;
      height: 100%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      background: none;
    }

    p {
      font-size: 90%;
    }
  }

  &:hover div {
    opacity: 100%;
  }
}
