:root {
  color-scheme: dark;

  --white: #f2f2f2;
  --black: #0a0b0d;
  --yellow: #d9c465;

  --primary: #303030;
  --secondary: #242424;
  --background: #121212;

  --light-border: 0.5px solid #4e4e4e;
}

:focus-visible {
  box-shadow: 0 0 1px 2px var(--white) !important;
}

::placeholder {
  opacity: 35%;
  font-weight: normal;
  user-select: none;
}

html,
body {
  color: var(--white);
  background-color: var(--black);
  -webkit-tap-highlight-color: transparent;
}

section {
  display: flex;
  justify-content: center;
}

$page-width: min(100%, 1440px);

header,
footer {
  display: flex;
  justify-content: center;
  background-color: var(--background);

  section {
    width: $page-width;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 768px) {
    font-size: min(110%, 3.5vw);
  }
}

$header-height: min(4rem, 16vw);
$section-padding: 0.85rem;

header {
  padding: 0.5rem 2rem;
  height: $header-height;

  @media (max-width: 768px) {
    padding: min(0.8rem, 1.5vw) 3%;
  }

  section {
    position: relative;
  }

  div {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

  h1 {
    font-size: 120%;
    font-weight: bold;
  }

  a,
  button {
    opacity: 90%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
    border-radius: 0.6rem;
    transition: 150ms ease-in-out;

    &:hover {
      opacity: 100%;
      transform: translateY(-1px);
    }

    &.supportButton:hover {
      color: #00a962;
    }

    @media (max-width: 768px) {
      padding: 0 min(1rem, 3vw);
    }
  }

  .loginButton {
    @media (max-width: 768px) {
      display: none;
    }

    a,
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      cursor: pointer;
    }

    img {
      height: 30px;
      width: 30px;
      aspect-ratio: 1/1;
      border-radius: 30px;
      overflow: hidden;
    }

    .list {
      z-index: 1;
      position: absolute;
      top: 100%;
      right: 0;

      height: unset;
      display: flex;
      flex-direction: column;
      background-color: var(--primary);
      border: var(--light-border);
      border-radius: 0 0 0.4rem 0.4rem;
      overflow: hidden;

      a,
      button {
        padding: 0.8rem 1.8rem;
        position: static;
        background-color: var(--primary);
        border-radius: 0;
        font-size: 95%;
        transition: 100ms filter ease-out;

        &:hover {
          transform: none;
          filter: contrast(0.75);
        }
      }

      hr {
        margin: 3px 0;
        height: 1px;
        width: 100%;
        background-color: #4e4e4e;
      }
    }
  }
}

footer {
  padding: 1.5rem 3rem;

  @media (max-width: 768px) {
    padding: 1.5rem min(3rem, 3vw);

    section {
      flex-direction: column;
      gap: 0.5rem;
      font-size: min(90%, 3vw);
      text-align: center;
    }
  }

  p {
    opacity: 80%;
    font-size: 85%;
  }

  a {
    display: unset;
    transition: 100ms filter ease-out;

    &:hover {
      filter: contrast(0.75);
    }
  }
}

.mobileView,
main {
  padding: min(3rem, 3%);
  min-height: calc(100svh - $header-height);
  width: $page-width;
  display: flex;
  flex-direction: column;
}

.mobileView {
  margin-top: 5%;
  text-align: center;
  font-size: min(120%, 4vw);

  @media (min-width: 769px) {
    display: none;
  }
}

main {
  position: relative;
  align-items: center;
  gap: 1rem;

  @media (max-width: 768px) {
    display: none;
  }

  h1 {
    font-size: 150%;
    font-weight: bold;
  }

  input,
  button,
  .button,
  select {
    box-shadow: none !important;
    border: var(--light-border);
    background-color: var(--primary);
    transition: 100ms filter ease-out;

    &:hover {
      filter: contrast(0.75);
    }
  }

  input {
    padding: 0.5rem 1rem;

    &:focus {
      filter: contrast(0.7);
    }
  }

  button,
  .button {
    padding: 0.65rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 100ms filter ease-out, 150ms transform ease-in-out;

    &:hover {
      transform: translateY(-1.5px);
    }
  }

  select {
    border-radius: 0.4rem;
    background-color: var(--secondary);
    cursor: pointer;

    &:hover {
      filter: contrast(0.9);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

button:disabled {
  filter: brightness(0.8) contrast(1.05) !important;
  cursor: not-allowed;
}

.loading {
  animation: loading 1s ease-out;

  @keyframes loading {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}

.icon {
  filter: invert(1);
  user-select: none;
}

.disabled {
  opacity: 35% !important;
  user-select: none !important;
  pointer-events: none !important;
}
