:root {
  color-scheme: dark;

  --white: #f2f2f2;
  --black: #0a0b0d;
  --gold: #a77b0d;

  --primary: #2a2a2a;
  --secondary: #242424;
  --background: #121212;
}

:focus-visible {
  box-shadow: 0 0 1px 2px var(--white);
}

::placeholder {
  opacity: 50%;
  font-weight: normal;
  user-select: none;
}

html,
body {
  padding: 0 !important; // prevent AdSense custom padding
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

section {
  display: flex;
  justify-content: center;
}

$page-width: min(100%, 1440px);

header,
footer {
  display: flex;
  justify-content: center;
  background-color: var(--background);

  section {
    width: $page-width;
    justify-content: space-between;
    align-items: center;
  }
}

$header-height: min(4rem, 16vw);

header {
  z-index: 1;
  position: relative;
  height: $header-height;

  $button-side: min(1rem, 2vw);

  section {
    padding: 0.5rem calc(min(3rem, 3%) - $button-side);
  }

  a,
  button {
    opacity: 90%;
    padding: 0 $button-side;
    height: 100%;
    border-radius: 6px;
    transition: all 200ms ease, filter 150ms ease-out,
      transform 150ms ease-in-out;

    &:hover {
      opacity: 100%;
      transform: translateY(-1px);

      &.supportButton {
        color: #00a962;
      }
    }
  }

  @media (max-width: 768px) {
    font-size: min(110%, 3vw);

    img {
      padding: min(0.5rem, 2vw) 0;
      width: auto;
      height: 100%;
    }

    a,
    button {
      gap: 2vw;
    }
  }

  .navigation {
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      font-size: 120%;
      font-weight: bold;
    }
  }

  .loginButton {
    position: relative;
    height: 100%;

    @media (max-width: 768px) {
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
      aspect-ratio: 1/1;
      border-width: 0.5px;
      border-style: solid;
      border-radius: 100%;
    }
  }

  .dropdown {
    $gap: 5px;

    z-index: 1;
    padding: $gap 0;
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    min-width: 12rem;
    width: min(16rem, 100%);
    display: flex;
    flex-direction: column;
    gap: $gap;
    background-color: var(--primary);
    border-radius: 0 0 6px 6px;
    overflow: hidden;

    a,
    button {
      padding: 12px 30px;
      background-color: var(--primary);
      border-radius: 0;
      transition: filter 150ms ease-out;

      &:hover {
        transform: none;
        filter: contrast(0.8);
      }

      p {
        white-space: nowrap;
      }
    }

    hr {
      width: 100%;
      height: 1px;
      background-color: #4e4e4e;
    }
  }
}

footer {
  font-size: 85%;

  section {
    padding: min(1.5rem, 5vw) min(3rem, 3%);
  }

  div {
    opacity: 80%;
    height: 1rem;
    display: flex;
    align-items: center;
  }

  p {
    white-space: pre-wrap;
  }

  a {
    border-radius: 3px;
    transition: filter 150ms ease-out;

    &:hover {
      filter: contrast(0.8);
    }
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
      gap: min(0.5rem, 2vw);
      font-size: min(95%, 2.6vw);
    }

    div {
      height: auto;
    }
  }
}

.mobileView,
main {
  padding: min(3rem, 3%) min(3rem, 3%) min(5rem, 5%);
  width: $page-width;
  min-height: calc(100svh - $header-height);
  display: flex;
  flex-direction: column;
}

.mobileView {
  margin-top: 5%;
  text-align: center;
  font-size: min(120%, 4vw);

  @media (min-width: 769px) {
    display: none;
  }
}

main {
  position: relative;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 768px) {
    display: none;
  }

  h1 {
    font-size: 200%;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  input,
  textarea {
    padding: 0.7rem 1rem;
    background-color: var(--primary);
    border-radius: 5px;
    transition: filter 150ms ease-out;

    &:hover {
      filter: contrast(0.9);
    }
    &:focus {
      filter: contrast(0.85);
      box-shadow: none;
    }
    &:hover:focus {
      filter: contrast(0.8);
    }
  }

  button {
    padding: 14px 32px;
    background-color: var(--primary);
    border-radius: 30px;
    transition: filter 150ms ease-out, transform 150ms ease-in-out;

    &:hover {
      transform: translateY(-1.5px);
      filter: contrast(0.8);
    }

    &:disabled {
      transform: none;
      filter: brightness(0.7) contrast(1.05);
      cursor: not-allowed;
    }
  }

  select {
    background-color: var(--secondary);
    border-radius: 5px;
    transition: filter 150ms ease-out;
    box-shadow: none !important;
    cursor: pointer;

    &:hover,
    &:focus {
      filter: contrast(0.85);
    }
  }
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.loading {
  animation: loading 1s ease-out;

  @keyframes loading {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 40%;
    }
    100% {
      opacity: 100%;
    }
  }
}

.icon {
  filter: invert(1);
  user-select: none;
}

.disabled {
  opacity: 35% !important;
  user-select: none !important;
  pointer-events: none !important;
}
