.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    padding: 0.8rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
